
/* body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background-color: black;
    color: white;
}
section {
    padding: 10px;
}
img {
    border-radius: 70%;
}
.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 40px ;

   
} */

.headings {
    color: white;
    font-size: 24px;
    text-align: center;
}
